.btn-1 {
  border: 0;
  border-radius: .5rem;
  /* background-color: transparent; */
  background: var(--txt-color-1);
  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);
  color: var(--bg-color);
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  
}

.btn-1:hover {
  background: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
  color: var(--surf-color);
}

.btn-sm {
  padding: .5rem 1rem;
  font-size: var(--fs-sm);
}

.btn-md {
  padding: .75rem 1.5rem;
  font-size: var(--fs-base);
}

.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}

.btn-2 {
  position: relative;
  background: transparent;
  border: none;
  color: var(--txt-color-1);
  border-radius: .5rem;
  cursor: pointer;
  
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  &::before { /* BORDA FALSA */
    content: "";
    position: absolute;
    inset: 0;
    padding: .09375rem;
    border-radius: inherit;
    background: var(--txt-color-1);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  &:hover { /* HOVER — TEXTO COM GRADIENTE */
    background-image: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
    background-clip: text; /* Faz o fundo aparecer apenas no texto */
    -webkit-background-clip: text;
    color: transparent; /* Texto fica transparente para revelar o gradiente */
    
  }
  
  &:hover::before { /* HOVER — BORDA COM GRADIENTE */
    background: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
  }
}

@media (width >= 80em) {
  .btn-sm {
    padding: .75rem 1.5rem;
    font-size: var(--fs-base);
  }

  .btn-md {
    padding: 1rem 2rem;
    font-size: 1.125rem;
  }
}