.btn {
  --btn-bg-color: var(--txt-color-1);
  --btn-color: var(--bg-color);
  border: 0;
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;

  border-radius: .5rem;

  font: var(--fw-md) var(--fs-base)/1.5rem var(--ff-sans);

  cursor: pointer;

  background: var(--btn-bg-color);
  color: var(--btn-color);
}

.btn:hover {
  --btn-bg-color: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
  --btn-color: var(--surf-color);
}

.btn-sm {
  padding: .5rem 1rem;
  font-size: var(--fs-sm);
}

.btn-md {
  padding: .75rem 1.5rem;
  font-size: var(--fs-base);
}

.btn-lg {
  padding: 1rem 2rem;
  font-size: 1.125rem;
}
.btn[aria-label] {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    border-radius: inherit;
    inset: .09375rem;
    background-color: var(--bg-color);
  }
  &::after {
    content: attr(aria-label);
    background: var(--btn-bg-color);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    position: relative;
    z-index: 1;
  }
}