#pricing {
  --fs-price: 2rem;

  & header {
    text-align: center;
  }

  & .cards {
    margin-top: 2rem;
  }

  & h3 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  & .card p {
    margin-top: .25rem;
  }

  & zin-pricing {
    display: block;
    padding-block: 1.5rem;
    font: var(--fw-bold) var(--fs-price)/1.2 var(--ff-sans);
  }

  & zin-pricing small {
    font: var(--fw-base) 1rem/125% var(--ff-sans);
  }

  & .btn-1, .btn-2 {
    width: 100%;
  }

  & .separator {
    height: 1px;
    margin-block: 2rem;
    background: radial-gradient(var(--txt-color-2), var(--surf-color) 70%);
  }

  & li {
    color: var(--txt-color-2);
    background: url(../assets/icons/Check.svg) no-repeat;
    padding-left: 2rem;
  }

  & ul + small {
    display: block;
    margin-top: 1.5rem;
    font-size: 0.875rem;
    color: var(--txt-color-2);
  }

  & .premium {
    position: relative;

    & .card {
      padding-top: 4.5rem;

      & > span {
        position: absolute;
        top: 0;
        left: 0;
        padding: .75rem 2rem;
        background: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
        border-top-left-radius: 1.5rem;
        border-bottom-right-radius: 1.5rem;
        color: var(--bg-color);
        text-transform: uppercase;
        font: 600 var(--fs-sm) var(--ff-sans);
        letter-spacing: 0.08em;
      }
    }

    padding: 2px;
    &::before {
      content: "";
      background: linear-gradient(90deg, var(--brand-color-2) 0%, var(--brand-color-1) 100%);
      position: absolute;
      inset: 0;
      border-radius: 1.5rem;
      z-index: -1;
    }
  }

  @media (width >= 80em) {
    --fs-price: 2.5rem;

    & header {
      max-width: 50rem;
      margin-inline: auto;
    }

    & .premium .card {
      padding-bottom: 6rem;
    }

    & .btn-md {
      padding: .75rem 1.5rem;
      font-size: var(--fs-base);
    }

    & .card:nth-child(3) .separator {
      margin-block: 1.5rem;
    }
  }
}