#smartphones-img {
  margin-top: 5rem;
  background: url(../assets/bg-hero-desktop.svg) no-repeat top/cover;
}

section {
  & header {
    & strong {
      display: block;
      font: var(--fw-md) var(--fs-sm)/100% var(--ff-sans);
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: var(--brand-color-1);
    }

    & h2 {
      margin-top: .5rem;
    }
  }

  & p {
    margin-top: .5rem;
    color: var(--txt-color-2);
  }
}

@media (width >=80em) {
  #smartphones-img {
    display: none;
  }
}